# Web Framework & Server
flask
gunicorn

# Database
psycopg2-binary
supabase

# Machine Learning & Data Processing
numpy==2.2.0
pandas
torch==2.9.0
transformers
paddleocr
opencv-python

# APIs & Utilities
python-dotenv
requests
tqdm
discogs-client
