# Web Framework & Server
flask
gunicorn

# Database
psycopg2-binary
pgvector
sqlalchemy
supabase

# Machine Learning & Data Processing
numpy==2.2.9
pandas
torch==2.9.0
transformers
paddleocr
opencv-python
google-cloud-vision

# APIs & Utilities
python-dotenv
requests
tqdm
discogs-client
